<div class="container mt-5 animated bounceInLeft">
  <h1>AboutMe</h1>
  <p class="lead">AboutMe is a <strong>open source</strong> app made with node.js, though special thanks to all of them developers who work hard to make peoples like easy ex: making modules like express, mongoose, animateCss, handlebars, body-parser etc. i will be woking hard like them peoples cuz yall know <strong>open source forever</strong></p>
  <p class="lead">if u got any bugs or if you wanna contact me please click on the button below. peace!</p>
  <br>
  <br>
  <a href="/contact.html" class="btn btn-dark">Contact Me</a>
</div>