<div class="container text-left animated bounceInLeft">
  <h5 class="mt-5" id="title">{{title}}</h5>
    <p class="lead mt-5" id="lead">AboutMe is a WebApp made made to know what people think about you, cuz it lets people send u message without displaying their name so it's kinda cool u can know what people think about ya' even if it's a positive or negative thing, all u gotta do is just sign up and then you will be greeted with a URL that you could share with your friends or whomever you want and aphcourse they could send you the text anonymously.</p>
  <a href="/users/register" class="btn btn-dark btn-lg mt-5">Get Started</a>
</div>