<div class="conatiner mt-5 animated bounceInLeft">
  <h1>Thank You!</h1>
  <p class="lead">Verification link is been sent to your E-Mail please click on it to continue...</p>

    <p class="mt-5">did not get the E-Mail, please click on the button below</p>
    <button class="btn btn-block btn-dark">Resend</button>
</div>