<div class="container mt-5 animated bounceInLeft">
  <div class="form-group">
    <form action="/users/forgot/reset" method="POST">
      <label for="resetpwd">Enter New Password</label>
      <input type="password" name="resetpwd" class="form-control mb-3" required
      <label for="resetpwd">Confirm Password</label>
      <input type="password" name="resetpwd1" class="form-control mb-3" required>
      <button class="btn btn-block btn-dark">Reset</button>
    </form>
  </div>
</div>